* {
    /* border: 2px solid green */
}
body {
    background-color: white;
}
p {
    color: rgb(0, 0, 0);
}
.logo {
    width: 30vw;
    height: 5vw;
    background-image: url("../media/img/BGDD.png");
    background-size: 100%;
}
.logo:hover {
    cursor: pointer;
}
hr {
    border-color: black;
    background-color: black;
    height: 0.3vw;
}
#canvas {
    margin-top: 1vw;
    border: 2px solid black;
}
.flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.navbar {
    margin-top: 1vw;
    border-color: black;
    border-style: solid;
    height: 6.7vw;
    width: 99,70%;
    border-width: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.stone1, .stone2, .stone3 {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    width: 15vw;
    height: 5vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw
}
.zijnav {
    border-color: black;
    border-width: 6px;
    border-style: solid;
    width: 21vw;
    height: 31vw;
    position: relative;
    left: -3.5vw;
    top: 5px;
}
.stone1 {
    background-image: url(../media/img/walformaat2.jpg);
    background-size: 100%;
}
.stone2 {
    background-image: url(../media/img/dikformaat.jpg);
    background-size: 100%;
}
.stone3 {
    background-image: url(../media/img/vechtformaat.jpg);
    background-size: 100%;
}
