body {
    background-color: white;
}
p {
    color: rgb(0, 0, 0);
}
.logo {
    width: 30vw;
    height: 5vw;
    background-image: url("../media/img/BGDD.png");
    background-size: 100%;
}
.logo:hover {
    cursor: pointer;
}
hr {
    border-color: black;
    background-color: black;
    height: 0.3vw;
    width: 100%;
}
#canvas {
    margin-top: 1vw;
    border: 2px solid black;
}
.flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.navbar {
    margin-top: 1vw;
    border-color: black;
    border-style: solid;
    height: 6.7vw;
    width: 99,70%;
    border-width: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.stone1, .stone2, .stone3 {
    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: 15vw;
    height: 5vw;
}