body {
    background-color: rgb(120, 107, 107);
}
p {
    color: white;
}
.canvas {
    width: 100vw;
}
.logo {
    width: 30vw;
    height: 5vw;
    background-image: url("../media/img/BGDD.png");
    background-size: 100%;
}
hr {
    border-color: black;
    background-color: black;
}